body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;;
}
:root{
    --azul-marinho: #010b40;
    --azul-escuro: #1c418c;
    --azul: #0367a6;
    --amarelo: #f2da5e;
    --marrom: #a65729;
}
header {
    background-color: var(--azul);
    height: 6rem;
    display: flex;
    justify-content: center;
}
.primeira{
    display: flex;
}
.primeira img{
    width: 40rem;
}
