body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;;
}
:root{
    --azul-escuro1: #131f59;
    --azul-medio: #255396;
    --azul-mar: #2880c3;
    --azul-claro: #59a8d0;
    --caramelo: #dc9451;
    --bege-claro: #ede4cd;
    --marrom-acobreado: #b63d1f;
    --castanho-claro: #843a2a;
    --castanho-escuro: #290c0c;
}
header {
    background-color: var(--azul-claro);
    height: 6rem;
    display: flex;
    justify-content: center;
}
.primeira{
    display: flex;
    gap: 5rem;
}
.primeira img{
    width: 40rem;
}
.primeira p{
    font-size: 25px;
}
.segunda{
    display: flex;
    background-color: var(--caramelo);
    height: 25rem;
    align-items: center;
    
}
.segunda img{
    width: 20rem;
    height: 25rem;
}
.segunda p{
    font-size: 25px;
    max-width: 50rem; 
    margin-left: auto; 
    margin-right: auto; 
}
main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.terceira img{
    height: 25rem;
    width: 31rem;
}
.terceira{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}